<!-- Footer -->
<footer class="py-8 bg-black border-t border-sky-900/30">
  <div class="container mx-auto px-4">
    <div class="flex flex-col md:flex-row justify-between items-center">
      <div class="mb-4 md:mb-0">
        <div class="text-sky-500 font-bold text-xl">
          <span class="text-white">HPS</span> AVIATION
        </div>
        <p class="text-slate-400 text-sm mt-1">Flight, Reinvented. Silently.</p>
      </div>

      <div class="text-center md:text-right">
        <p class="text-slate-400 text-sm">
          © 2023 HPS Aviation. All rights reserved.
        </p>
        <div class="flex space-x-4 mt-2 justify-center md:justify-end">
          <a href="#" class="text-slate-400 hover:text-sky-400 text-sm"
          (mouseenter)="playHoverSound()"
            >Privacy Policy</a
          >
          <a href="#" class="text-slate-400 hover:text-sky-400 text-sm"
          (mouseenter)="playHoverSound()"
            >Terms of Service</a
          >
        </div>
      </div>
    </div>
  </div>
</footer>
